body {
  font-family: Consolas, monospace;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  /*margin-right: 1000;*/
  font-size: 16px;
}

#dashboard {
  padding: 80px 15px;
}

#main-section {
  /*padding-right: 150px;*/
}
